# Django specific
*.log
*.pot
*.pyc
__pycache__/
media
*.swp


# Environment variables
.env
.misc

# Virtualenv
venv/
ENV/
env/

# VS Code settings
.vscode/

# Vim Settings
.vim

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Python egg files
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs

# PyCharm settings
.idea/
