<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ======== Page title ============ -->
    <title>KumbiTrace - Citizen-Driven Missing Persons Platform</title>
    
    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="../static/img/favicon.png">

    <!-- ===========  All Stylesheet ================= -->
    <!--  fontawesome css plugins -->
    <link rel="stylesheet" href="../static/css/fontawesome.min.css">
    <!--  slick css plugins -->
    <link rel="stylesheet" href="../static/css/slick.css">
    <!--  rangeSlider css plugins -->
    <link rel="stylesheet" href="../static/css/ion.rangeSlider.min.css">
    <!--  slick theme css plugins -->
    <link rel="stylesheet" href="../static/css/slick-theme.css">
    <!--  magnific-popup css plugins -->
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <!--  owl carosuel css plugins -->
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <!--  owl theme css plugins -->
    <link rel="stylesheet" href="../static/css/owl.theme.css">
    <!--  meanmenu css plugins -->
    <link rel="stylesheet" href="../static/css/meanmenu.min.css">
    <!--  Bootstrap css plugins -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <!-- template main style css file -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- template responsive css stylesheet -->
    <link rel="stylesheet" href="../static/css/responsive.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="theme_body">
    
    <!-- preloader element started -->
        <div class="loader-wrap">
            <div class="pin"></div>
            <div class="pulse"></div>
        </div>
    <!-- preloader element end -->
    
    
    <!-- header section start -->
    <header class="header-section">
        <!-- top bar -->
        <div class="top-bar-header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-8 col-12">
                        <div class="top-bar-left">
                            <span>Maandamano Alert: Report Missing Person ASAP!!</span>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-4 col-12 text-md-right">
                        <div class="top-bar-right">
                            <div class="user-setting">
                                <ul>
                                    <li><a href="/login"><i class="fas fa-sign-out-alt"></i>Login</a></li>
                                    <li><a href="/register"><i class="fas fa-user"></i>Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main menu -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 logo">
                        <a class='navbar-brand' href='/'>
                            <img src="../static/img/logo.png" class="logo-display" alt="shipo">
                        </a> 
                    </div> <!-- /.col-md-3 logo -->
                    <div class="col-md-9 d-none d-lg-block text-lg-right">
                        <nav id="responsive-menu" class="main-menu">
                            <ul class="menu-items">
                                <li><a href="/">home</a>    
                                </li>
                                 <li><a href='/about-us'>about</a></li>
                                 <li><a href='/report'>Report</a></li>
                                 <li><a href='/search'>Find</a></li>
                                 <li><a href='/contact-us'>Contact</a></li>
                                
                            </ul>
                            <a href="/report" class="btn-booking-start">Report Now</a>
                        </nav>
                    </div> <!-- /. col-md-9 d-none d-lg-block -->

                    <div class="col-12">
                        <div class="responsive-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->
    <!-- Missing people section start -->
<section class="top-location-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="top-locations-carousel owl-carousel owl-theme">
                    <!-- single missing person profile start -->
                    <div class="single-top-location bg-cover bg-overlay" style="background-image: url('../static/img/case1.jpg')">
                        <div class="location-info">
                            <span>Last seen: Juja(Weteithie) Nairobi, Kenya</span>
                            <h2>Joseph Mwangi Kairu</h2>
                            <p>Age: 34, Height: 5'9", Last seen wearing a blue jacket and jeans.</p>
                        </div>
                    </div><!-- ./ single missing person profile end -->
                    <!-- single missing person profile start -->
                    <div class="single-top-location bg-cover bg-overlay" style="background-image: url('../static/img/case1.jpg')">
                        <div class="location-info">
                            <span>Last seen: Juja(Weteithie) Nairobi, Kenya</span>
                            <h2>Joseph Mwangi Kairu</h2>
                            <p>Age: 29, Height: 5'6", Last seen wearing a white dress.</p>
                        </div>
                    </div><!-- ./ single missing person profile end -->
                    <!-- single missing person profile start -->
                    <div class="single-top-location bg-cover bg-overlay" style="background-image: url('../static/img/case1.jpg')">
                        <div class="location-info">
                            <span>Last seen: Juja(Weteithie) Nairobi, Kenya</span>
                            <h2>Joseph Mwangi Kairu</h2>
                            <p>Age: 42, Height: 6'1", Last seen wearing a black hoodie and sneakers.</p>
                        </div>
                    </div><!-- ./ single missing person profile end -->
                    <!-- single missing person profile start -->
                    <div class="single-top-location bg-cover bg-overlay" style="background-image: url('../static/img/case1.jpg')">
                        <div class="location-info">
                            <span>Last seen: Juja(Weteithie) Nairobi, Kenya</span>
                            <h2>Joseph Mwangi Kairu</h2>
                            <p>Age: 25, Height: 5'4", Last seen wearing a red blouse and black skirt.</p>
                        </div>
                    </div><!-- ./ single missing person profile end -->
                    <!-- single missing person profile start -->
                    <div class="single-top-location bg-cover bg-overlay" style="background-image: url('../static/img/case1.jpg')">
                        <div class="location-info">
                            <span>Last seen: Juja(Weteithie) Nairobi, Kenya</span>
                            <h2>Joseph Mwangi Kairu</h2>
                            <p>Age: 37, Height: 5'8", Last seen wearing traditional Indian attire.</p>
                        </div>
                    </div><!-- ./ single missing person profile end -->
                    <!-- single missing person profile start -->
                    <div class="single-top-location bg-cover bg-overlay" style="background-image: url('../static/img/case1.jpg')">
                        <div class="location-info">
                            <span>Last seen: Juja(Weteithie) Nairobi, Kenya</span>
                            <h2>Joseph Mwangi Kairu</h2>
                            <p>Age: 31, Height: 5'5", Last seen wearing a green coat and blue jeans.</p>
                        </div>
                    </div><!-- ./ single missing person profile end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Missing people section end -->





    <!-- how it works section start -->
<section class="how-it-works bg-overlay section-padding bg-cover parallax-2" style="background-image: url('../static/img/abd.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xl-12 text-center">
                <div class="section-title white-color">
                    <h2>How It Works</h2>
                    <span>Our process for helping find missing persons</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-12 col-sm-12">
                <div class="single-how-works d-flex align-items-start">
                    <div class="how-icon">
                        <span>01</span>
                        <img src="../static/img/kat.png" alt="kumbitrace">
                    </div>
                    <div class="how-works">
                        <h3>Report a Missing Person</h3>
                        <p>Submit a report with details about the missing person, including their last known location and appearance.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12">
                <div class="single-how-works d-flex align-items-start">
                    <div class="how-icon">
                        <span>02</span>
                        <img src="../static/img/exterior.png" alt="kumbitrace">
                    </div>
                    <div class="how-works">
                        <h3>Spread the Word</h3>
                        <p>We share the missing person’s profile across various platforms and alert our community to be on the lookout.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-12 col-sm-12">
                <div class="single-how-works d-flex align-items-start">
                    <div class="how-icon">
                        <span>03</span>
                        <img src="../static/img/armchair.png" alt="kumbitrace">
                    </div>
                    <div class="how-works">
                        <h3>Receive and Act on Tips</h3>
                        <p>We gather tips from the public and work with authorities to follow leads and locate the missing person.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- how it works section end -->


    <!-- Partners section start -->
<section class="top-event-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xl-12 text-center">
                <div class="section-title">
                    <h2>Partners</h2>
                    <span>Our dedicated partners supporting our mission</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="kumbitrace-item-carousel owl-carousel owl-theme">
                    <!-- single item box start -->
                    <div class="single-popular-item">
                        <div class="item-cover-image bg-cover" style="background-image: url('../static/img/lsk.png')">
                            <div class="tags">
                                <ul>
                                    <li><a href="/">Non-Profit</a></li>
                                    <li><a href="/">Support</a></li>
                                </ul>
                                <a href="/" class="btn-wishlist"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="item-details">
                                <div class="brand">
                                    <img src="../static/img/lsk.png" alt="kumbitrace">
                                    <span class="item-price">Contact: info@partner1.org</span>
                                </div>
                                <div class="item-category">
                                    <div class="cat-icon">
                                        <img src="../static/img/lsk.png" alt="kumbitrace">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <h4><a href='partner-details.html'>Partner 1: Helping Hands</a></h4>
                            <div class="item-store-location">
                                <i class="fas fa-map-marker-alt"></i>
                                123 Main Street, Anytown, USA
                            </div>
                            <div class="item-meta-data open">
                                <ul>
                                    <li><i class="far fa-clock"></i><span>Open</span> Mon-Fri 9:00 AM - 6:00 PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- single item box end -->
                    <!-- single item box start -->
                    <div class="single-popular-item">
                        <div class="item-cover-image bg-cover" style="background-image: url('../static/img/lsk.png')">
                            <div class="tags">
                                <ul>
                                    <li><a href="/">Corporate</a></li>
                                    <li><a href="/">Funding</a></li>
                                </ul>
                                <a href="/" class="btn-wishlist"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="item-details">
                                <div class="brand">
                                    <img src="../static/img/lsk.png" alt="kumbitrace">
                                    <span class="item-price">Contact: info@partner2.org</span>
                                </div>
                                <div class="item-category">
                                    <div class="cat-icon">
                                        <img src="../static/img/lsk.png" alt="kumbitrace">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <h4><a href='partner-details.html'>Partner 2: Corporate Care</a></h4>
                            <div class="item-store-location">
                                <i class="fas fa-map-marker-alt"></i>
                                456 Business Road, Metropolis, USA
                            </div>
                            <div class="item-meta-data open">
                                <ul>
                                    <li><i class="far fa-clock"></i><span>Open</span> Mon-Fri 8:00 AM - 5:00 PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- single item box end -->
                    <!-- single item box start -->
                    <div class="single-popular-item">
                        <div class="item-cover-image bg-cover" style="background-image: url('../static/img/lsk.png')">
                            <div class="tags">
                                <ul>
                                    <li><a href="/">NGO</a></li>
                                    <li><a href="/">Awareness</a></li>
                                </ul>
                                <a href="/" class="btn-wishlist"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="item-details">
                                <div class="brand">
                                    <img src="../static/img/avatar/lsk.png" alt="kumbitrace">
                                    <span class="item-price">Contact: info@partner3.org</span>
                                </div>
                                <div class="item-category">
                                    <div class="cat-icon">
                                        <img src="../static/img/lsk.png" alt="kumbitrace">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <h4><a href='partner-details.html'>Partner 3: Awareness Alliance</a></h4>
                            <div class="item-store-location">
                                <i class="fas fa-map-marker-alt"></i>
                                789 Charity Lane, Helpville, USA
                            </div>
                            <div class="item-meta-data open">
                                <ul>
                                    <li><i class="far fa-clock"></i><span>Open</span> Mon-Fri 9:00 AM - 5:00 PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- single item box end -->
                    <!-- single item box start -->
                    <div class="single-popular-item">
                        <div class="item-cover-image bg-cover" style="background-image: url('../static/img/lsk.png')">
                            <div class="tags">
                                <ul>
                                    <li><a href="/">Community</a></li>
                                    <li><a href="/">Engagement</a></li>
                                </ul>
                                <a href="/" class="btn-wishlist"><i class="far fa-heart"></i></a>
                            </div>
                            <div class="item-details">
                                <div class="brand">
                                    <img src="../static/img/lsk.png" alt="kumbitrace">
                                    <span class="item-price">Contact: info@partner4.org</span>
                                </div>
                                <div class="item-category">
                                    <div class="cat-icon">
                                        <img src="../static/img/lsk.png" alt="kumbitrace">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-content">
                            <h4><a href='partner-details.html'>Partner 4: Community Connect</a></h4>
                            <div class="item-store-location">
                                <i class="fas fa-map-marker-alt"></i>
                                321 Support Blvd, Townsville, USA
                            </div>
                            <div class="item-meta-data open">
                                <ul>
                                    <li><i class="far fa-clock"></i><span>Open</span> Mon-Fri 10:00 AM - 7:00 PM</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- single item box end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Partners section end -->


    <!-- promo section start -->
    <section class="promo-section parallax section-padding bg-cover bg-overlay" style="background-image: url('../static/img/bgz.jpg')">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-xl-7 col-sm-12 col-md-7">
                    <div class="promo-content">
                        <h1>We The People of Kenya</h1>
                        <p>Preamble of the Constitution</p>
                        <a href="/" class="btn-promo">Visit Site</a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- promo section end -->



    <!-- call to action section start -->
    <section class="call-to-action-wrap bg-cover" style="background-image: url('../static/img/call-to-action-bg.jpg')">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-xl-8 col-sm-12  col-md-7">
                    <div class="call-to-action">
                        <h2>Join Our Amazing Community</h2>
                        <span>Join us on Discord and help us make a difference.</span>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-12 col-md-5 text-lg-right">
                    <a href="/" class="call-action-btn"><i class="far fa-check-circle"></i>Contact Now</a>
                </div>
            </div>
        </div>
    </section>
    <!-- call to action section end -->


    <!-- footer section wrapper start -->
    <footer class="footer-section">
        <div class="footer-bottom-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-sm-12">
                        <span>&copy;2024 KumbiTrace. All Rights Reserved</span>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section wrapper end -->



    <!--  ALl JS Plugins
    ====================================== -->
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/jquery.easing.1.3.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/scrollUp.min.js"></script>
    <script src="../static/js/magnific-popup.min.js"></script>
    <script src="../static/js/wow.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/ion.rangeSlider.min.js"></script>
    <script src="../static/js/rater.min.js"></script>
    <script src="../static/js/meanmenu.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>