{% extends "kumbitraceweb/base.html" %} {% block title %} Login - KumbiTrace
{%endblock %} {% block content %}

<section class="border-b-[0.5px] border-gray-900">
  <div
    class="flex flex-col items-center justify-center max-w-screen-xl gap-12 mx-auto"
  >
    <h2 class="text-lg md:text-2xl font-extrabold text-[#BB0000]">
      LOGIN TO CONTINUE
    </h2>
    <form
      class="w-[80%] md:w-[40%] mx-auto"
      method="POST"
      action="{% url 'logincustom' %}"
    >
      {% csrf_token %} {% if form.non_field_errors %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
      <div class="my-5">
        <label
          htmlFor="name"
          class="block text-base font-medium text-[#060709]"
        >
          NAME/EMAIL: <span class="text-red-600">*</span>
        </label>
        {{ form.username }} {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="my-5">
        <label
          htmlFor="email"
          class="block text-base font-medium text-[#07074D]"
        >
          PASSWORD: <span class="text-red-600">*</span>
        </label>
        {{ form.password }} {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
      </div>
      <div class="flex flex-col items-center md:flex-row md:justify-between">
        <div class="flex items-center mb-4">
          <input
            id="rememberMe"
            name="remember_me"
            type="checkbox"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded"
          />
          <label for="rememberMe" class="font-medium text-black ms-2">
            REMEMBER
          </label>
        </div>
      </div>

      <div class="flex justify-center my-12">
        <button
          type="submit"
          class="hover:shadow-form rounded-md bg-[#060709] py-3 px-8 text-center text-base font-semibold text-white outline-none"
        >
          LOGIN
        </button>
      </div>
      <div class="flex justify-center my-12">
        <h2 class="text-sm md:text-md font-extrabold text-[#060709]">
          HAVE AN ACCOUNT?
          <a href="{% url 'register' %}" class="text-[#D82126] mr-1">
            SIGN UP
          </a>
          LOGIN INSTEAD.
        </h2>
      </div>
    </form>
  </div>
</section>
{% endblock %}
