{% extends "kumbitraceweb/base.html" %}

{% block title %}Login - KumbiTrace{% endblock %}

{% block content %}
    <!-- breadcrumb section start -->
    <section class="bg-cover breadcrumb-banner bg-overlay parallax-2" style="background-image: url('../static/img/breadcrumb_bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-sm-12">
                    <div class="text-center breadcrumb-inner">
                        <h2>Login</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb section end -->

    <!-- login section start -->
     <div className="h-[85%] flex flex-col justify-center items-center ">
      <h2 className="text-lg md:text-xl font-extrabold mb-8 text-[#060709] ">
        LOGIN
      </h2>
      <form className="w-[80%] md:w-[40%] mx-auto">
        <div className="my-5">
          <label
            htmlFor="name"
            className=" block text-base font-medium text-[#060709]"
          >
            NAME/EMAIL: <span className="text-red-600">*</span>
          </label>
          <input
            type="text"
            name="text"
            id="name"
            placeholder="John Doe / johndoe@gmail.com"
            className="w-full border-b border-[#060709] pt-3  px-1 text-base font-medium text-[#6B7280] outline-none bg-transparent "
          />
        </div>
        <div className="my-5">
          <label
            htmlFor="email"
            className="block text-base font-medium text-[#07074D]"
          >
            PASSWORD: <span className="text-red-600">*</span>
          </label>
          <input
            type="password"
            name="text"
            id="password"
            placeholder="**********"
            className="w-full border-b border-[#060709]  pt-3 px-1 text-base font-medium text-[#6B7280] outline-none bg-transparent "
          />
        </div>
        <div className="flex flex-col items-center  md:flex-row md:justify-between">
          <div className="flex items-center mb-4">
            <input
              id="default-checkbox"
              type="checkbox"
              value=""
              className="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded "
            />
            <label
              htmlFor="default-checkbox"
              className="ms-2  font-medium text-black"
            >
              REMEMBER
            </label>
          </div>
          <button className="text-[#D82126]">FORGOT PASSWORD</button>
        </div>

        <div className="flex justify-center my-12">
          <button className="hover:shadow-form  rounded-md bg-[#060709] py-3 px-8 text-center text-base font-semibold text-white outline-none">
            LOGIN
          </button>
        </div>
        <div className="flex justify-center my-12">
          <h2 className="text-sm md:text-md font-extrabold text-[#060709] ">
            HAVE AN ACCOUNT ?{" "}
            <a href="/sign-up" className="text-[#D82126] mr-1">
              SIGN UP
            </a>
            LOGIN INSTEAD.
          </h2>
        </div>
      </form>
    </div>
    <!-- <div class="login-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-sm-12 col-md-8 offset-lg-4 offset-md-2">
                    <div class="login-form">
                        <form method="POST" action="{% url 'logincustom' %}">
                            {% csrf_token %}
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}
                        
                            <!-- Username Input -->
                            <div class="mb-3 input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                {{ form.username }}
                                {% for error in form.username.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            </div>
                        
                            <!-- Password Input -->
                            <div class="mb-3 input-group">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                {{ form.password }}
                                {% for error in form.password.errors %}
                                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                                {% endfor %}
                            </div>
                        
                            <!-- Login Button -->
                            <button type="submit" class="btn-submit btn-block">Login</button>
                        
                            <!-- Remember Me Checkbox -->
                            <div class="mt-3 form-check">
                                <input type="checkbox" class="form-check-input" id="rememberMe" name="remember_me">
                                <label class="form-check-label" for="rememberMe">Remember me</label>
                            </div>
                        </form>

                        

                        <!-- Sign Up Link -->
                        <div class="mt-4 text-center">
                            <div class="d-flex justify-content-center links">
                                Don't have an account? <a href="{% url 'register' %}" class="ml-2" style="color: #8cc03e;">Sign Up</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- login section end -->
{% endblock %}
